#container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 1fr 4fr 1fr;
}
header {
  grid-area: 1/1/2/-1;
  background-color: rgb(32, 34, 54);
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
header > button {
  width: 8rem;
  height: 3rem;
  /* margin: 20px; */
}
#sidebar {
  grid-area: 2/1/-2/2;
  background-color: lightskyblue;
  display: grid;
}
form > button {
  display: grid;
  justify-self: center;
  align-content: center;
  width: 8rem;
  height: 2rem;
}
form {
  /* background-color: lightslategrey; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* align-items: center; */
}
form > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(231, 231, 237);
  border-radius: 10px;
  /* justify-content: center; */
  /* justify-self: stretch; */
  /* display: ; */
  border: 2px solid white;
}
#myForm {
  display: grid;
  grid-template-rows: 4fr 1fr;
}
#myForm > button {
  width: 50%;
  height: 50%;
}

main {
  grid-area: 2/2/-2/-1;
  background-color: brown;
  display: grid;
}
footer {
  grid-area: -2/1/-1/-1;
  background-color: rgb(51, 36, 80);
}
#table {
  border: 1px solid black;
  background-color: rgb(81, 117, 148);
  display: grid;
  width: 100%;
  /* position: absolute; */
  /* height: max-content; */
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-flow: row;
  /* justify-content: end; */
  /* justify-items: end; */
  align-items: center;
}
.books {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: grey;
  margin: 10px 5px 10px 5px;
  /* justify-self: end; */
  align-self: baseline;
  gap: 1px;
  border: 1px solid black;
}
.books > button:nth-last-child(1) {
  background-color: lightslategray;
  border: 1px solid white;
  /* margin-top: 2px; */
}
.books > button:nth-last-child(2) {
  background-color: lightsteelblue;
  color: black;
  border: 1px solid white;
  /* margin-top: 2px; */
}

/* .text {
  font-size: 23px;
  color: #494949;
}
.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #494949;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.circle {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #494949;
  transition: 0.3s;
}
.active {
  border-color: rgb(85, 227, 180);
}
.active + .text {
  color: rgb(85, 227, 180);
}
.active .circle {
  left: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  background-color: rgb(85, 227, 180);
} */
